@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fadedown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes faderight {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes fadeup {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

.animate-fade-down {
  animation-name: fadedown;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.animate-fade-up {
  animation-name: fadeup;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.animate-fade-right {
  animation-name: faderight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.bg-gray-200 {
  background: linear-gradient(
    36deg,
    rgba(232, 243, 244, 0) 1%,
    rgba(232, 233, 244, 1) 71%
  ) !important;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.2rem;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-size: bold;
  margin: 0;
  padding: 0;
}

.father-hover\:scale-110:hover {
  transform: scale(1.1);
  border: 1px solid rgb(192, 185, 185);
  background-color: rgba(187, 185, 185, 0.708);
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.auto-scroll {
  scroll-behavior: auto;
}

header {
  padding: 0 !important;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 600px) {
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1000px) {
  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1500px) {
  section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1800px) {
  section {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 2000px) {
  section {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

@media (min-width: 2300px) {
  section {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.item-carousel-3 {
  width: 100%;
  aspect-ratio: 0.65 / 1;
}

.item-4 {
  width: 100%;
  aspect-ratio: 1;
}

@media (min-width: 400px) {
  .item-carousel-3 {
    width: 100%;
    aspect-ratio: 0.9 / 1;
  }
}

@media (min-width: 480px) {
  .item-carousel-3 {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .item-4 {
    width: calc(85%);
  }
}

@media (min-width: 540px) {
  .item-carousel-3 {
    width: 100%;
    aspect-ratio: 1.2 / 1;
  }

  .item-4 {
    width: calc(70%);
  }
}

@media (min-width: 600px) {
  .item-carousel-3 {
    width: 100%;
    aspect-ratio: 1.3 / 1;
  }
}

@media (min-width: 700px) {
  .item-carousel-3 {
    width: calc(100% / 2);
    aspect-ratio: 0.7 / 1;
  }

  .item-4 {
    width: calc(100% / 2);
  }
}

@media (min-width: 900px) {
  .item-carousel-3 {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
  }

  .item-4 {
    width: calc(80% / 2);
  }

  .item-43 {
    width: calc(100% / 3);
  }
}

@media (min-width: 1100px) {
  .item-carousel-3 {
    width: calc(100% / 3);
    aspect-ratio: 0.8 / 1;
  }

  .item-4 {
    width: calc(70% / 2);
  }

  .item-43 {
    width: calc(100% / 3);
  }
}

@media (min-width: 1490px) {
  .item-carousel-3 {
    width: calc(100% / 3);
    aspect-ratio: 1.1 / 1;
  }

  .item-4 {
    width: calc(100% / 4);
  }
}
